.stat-number {
  display: block;
  line-height: 1;
}

.table-card {
  padding: 24px;
}

table {
  background: transparent;
  box-shadow: none;
}

tr.mat-mdc-header-row {
  height: 56px;
}

tr.mat-mdc-row {
  height: 48px;
  
  &:hover {
    background-color: #f8fafc;
  }
}

.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #f1f5f9;
}
